
/* fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300,300italic,400italic,700,700italic,900italic);

@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?6vthk3');
    src:    url('icomoon.eot?6vthk3#iefix') format('embedded-opentype'),
    url('icomoon.ttf?6vthk3') format('truetype'),
    url('icomoon.woff?6vthk3') format('woff'),
    url('icomoon.svg?6vthk3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}



/***  GENERAL ***/
button {border:none;outline:none;background:none;}

.page h1,.page .page-title h1 {
    font-weight: 700;
    font-size: 36px;
    color: #333637;
}

.page .page-title h1 {text-transform: none;border-bottom:1px solid #d5d5db;margin-bottom:20px;}
.page h2 {
    font-weight: 400;
    font-size: 24px;
    color: #333637;
    text-transform: uppercase;
}
.page p {
    font-weight: 400;
    font-size: 14px;
    color: #333637;
}
.page h4 {
    font-weight: 400;
    font-size: 20px;
    color: #333637;
}
.page h3 {
    font-weight: 700;
    font-size: 24px;
    color: #333637;
}

.page .breadcrumb {
    font-weight: 400;
    font-size: 12px;
}
.page .block-title {border:none;}

a:hover {
    color: #633125;

}
a:active {
    color: #633125;

}

.wrapper select {
    -webkit-appearance: none;
    border-radius:0;
    background: #fff;
}

.all-upper {text-transform: uppercase;}
.icon-moon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    width:15px!important;
    height:15px!important;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.arrow-up:before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-bottom: 2px;
    margin-left: 2px;
    vertical-align: middle;
    content: "";
    border-style: none solid solid solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #bfbfbf transparent;
    position: absolute;
    top: -35px;
    right: 0;
}


.arrow-down:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-bottom: 2px;
    margin-left: 2px;
    vertical-align: middle;
    content: "";
    border-style: solid solid none;
    border-width: 4px 4px 0;
    border-color: #fff transparent transparent;
}

.arrow-right:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-bottom: 2px;
    margin-left: 10px;
    vertical-align: middle;
    content: "";
    border-style: solid solid solid solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #633125;

}

p.no-bottom {margin-bottom:0!important;}
.red-text {color:#633125!important;font-weight:bold!important;}

.page, #header {
    background-image: url("../images/bground.gif");
    background-repeat: repeat;
}

.red-link {
    color:#633125!important;
    text-decoration: underline!important;
    cursor:pointer;
}
.button.full-red-button {
    background-color:#633125;
}
.button.full-red-button:hover {

    background-color:#333;
}

.red-button {
    background: #fff;
    display: inline-block;
    padding: 10px 45px !important;
    border: 2px solid #633125;
    color:#633125;
    font-size: 15px;
    font-weight: bold;
    margin-top:20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.red-button:hover {background:#633125;color:#fff;}
.red-button.arrow-right:hover:after {border-color:transparent transparent transparent #fff;}

.button-small{
    border:1px solid #ededed;
    padding:5px;
}
.wrapper .page-header {max-width:initial;}

.col-4 {
    float:left; width:22%;margin-right:4%;
}
.col-3 {
    float:left; width:30%;margin-right:5%;
}

.table-header {background:#333;color:#fff;padding:10px;text-transform: capitalize;font-size:16px;}

.with-line {text-align:center;}
.with-line span {
    background-image: url("../images/bground.gif");
    background-repeat: repeat;
    position: relative;
    z-index: 1;
    padding: 0 20px;
}

.wrapper .data-table th {background-color:#e8e8eb;}
/* sidebar */
.wrapper .sidebar .block-title {
    background:#e8e8eb;
    /*color:#fff;*/
    padding:10px 20px!important;
    text-align:left;
    margin-bottom:0;
}
.wrapper .sidebar .block-title strong {/*color:#fff;*/font-size:18px;text-transform: capitalize;}
.wrapper .sidebar {width:20%;}
.wrapper .col-main {width:80%;}
.wrapper .fieldset p.required {float:none;}
.sidebar .block-content {
    margin-top:0;
    padding:10px;
    border: 1px solid #d5d5db;
    background-color:#fff;
}


/****** Header ********/
#header .skip-links,#header .skip-link {border:none;}


.header-top {background-color:#633125; color:#fff;padding:5px;letter-spacing: 0.05em;}
.header-top p {color:#fff;}
.header-middle,.nav-top {max-width:1260px; margin:0 auto;padding:5px 30px;}
.nav-top-wrapper {
    background-image: url("../images/nav_top_bground.gif");
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 100%;
    box-shadow: 1px 1px #cfcfcf;
}


#header-account ul li,#header-account .links {
    display:inline-block;
    position:relative;
}
#header .welcome-msg {text-transform: uppercase;
    border-right: 1px solid #333637;
    padding-right: 10px;
    height: 14px;
    display: inline-block;
    line-height: 14px;
}
#header-account .welcome-msg a[title='Send Invitations'] {display:none;}
#header-account .links li:not(:last-of-type) a {border-right: 1px solid #333637;}
#header-account .links li {padding:5px 0;}
#header-search-hide {float:right;margin-top:80px;}
#header-nav-hide {clear:both;}
#header #header-account {padding:0;}

.nav-top {text-align:center;}

.header-top p {text-align:center;}
.logo {margin:auto;}
.store-language-container {display:none;}

.page-header .wishlist-cart-wrapper {float:right;position:relative; overflow:initial;}
.page-header .wishlist-cart-wrapper .block-wishlist {float:left;margin-bottom:0;height:20px;}
#header .wishlist-cart-wrapper .block-wishlist .block-title {
    width:auto;
    cursor:pointer;
    border-top:none;
    top:-6px;
    padding-top:0;

}
#header .wishlist-cart-wrapper .skip-link {background:none;}
#header .wishlist-cart-wrapper .skip-link:hover,#header .wishlist-cart-wrapper .skip-link:focus {color:#fff;}
#wishlist-top-content.skip-active {

    border: solid 1px #cccccc;
    display: block;
    position: absolute;
    z-index: 200;
    top: 40px;
    right: 0;
    width: 320px;
    background: white;
    padding:10px;
}
#wishlist-top-content,#header-cart {margin-top:2px;}
#header .block-wishlist .block-title .icon:before{
    content: "\e90a";
    color:#fff;
}
#header .block-wishlist .block-title {margin:0;}
#header .block-wishlist .block-title strong{color:#fff;}
.wishlist-cart-wrapper > .checkout-button {vertical-align: top;background-color:#633125;}


#header #header-nav-hide {
    display:inline-block;
    border-bottom:none;

}

#header-nav-hide .level0 > a{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.nav-wishlist-cart-wrapper {
    background-image:url("../images/nav_bground.gif");
    background-repeat:repeat-x;
    background-position: center;
}
.nav-wishlist-cart {position:relative;top:5px;}

.header-minicart {margin-top:-7px;}
.header-minicart .total {
    padding-right: 10px;
    border-right: 1px solid white;
    line-height: 15px;
    display: inline-block;
}
.header-minicart .count {padding-left:5px;}
.skip-link.skip-cart {width:100%;padding: 0 10px;}
.skip-cart .total {color:#fff;}
#header-cart.skip-active {

    border: solid 1px #cccccc;
    display: block;
    position: absolute;
    z-index: 200;
    top: 40px;
    right: 0;
    width: 320px;
    background: white;
}

/* for mini-login */
.skip-link.skip-login {
    height:auto;
    background:none;
    width:auto;
}
#header-login {
    position:absolute;
    z-index: 19;
    right: 0;
    top:37px;
    padding: 20px;
    background-color:#fff;
    border:1px solid #bfbfbf;
    min-width:300px;
}
#header-login .button{padding:7px 30px;}
#header-login .block-login {margin-bottom:0;}
.minilogin.arrow-down:after {
    border-color: #333 transparent transparent;
    margin-top: 5px;
    margin-left: -5px;
    float:right;
    cursor:pointer;
}
#header-login .block-title strong {float:left;}
#header-login .block-title .right {float:right;}
#header-login .block-title .right a {display:initial;}
#mini-login,#mini-password {width:100%;margin-bottom:10px;}
#header-login .remember-me-box {list-style:none;text-align:left;position: absolute;
    bottom: 10px;}
#header-login .remember-me-box .link-tip{display:none;}
#header-login .remember-me-box .input-box {float:left;margin-right:5px;}
#header-login .actions .red-link{padding-left:0;}
/* for skip nav and search */
.skip-wrapper {position:relative;}
#header .skip-links.search, #header .skip-links.nav {position:absolute;top:2px;left:30px;z-index:9;}
#header .skip-links.search {left:80px;}
#header .skip-search, #header .skip-nav {background:none;}
#header-nav.skip-content {display:none;}
#header-nav .nav-primary {margin-top:0; padding-left:10px;}

.widget-banner li{
    text-align: center;
    padding: 20px;
    border: 1px solid #d5d5db;
    font-size: 16px;
    margin-bottom: 10px;
}

#search_mini_form .search-button.button {background:#fff; border:1px solid silver;text-indent:0;}
#search_mini_form .search-button.button:hover {background:#333;}
#search_mini_form .search-button.button:hover .icon-moon:before{color:#fff;}
#search_mini_form .search-button.button:before{

    background:none;
}
#search_mini_form .search-button .icon-moon:before {
    content:'\e926';

    color:#333637;
}
/******* Home **************/

.home-top > div {
    float:left;
    background-color: #fff;
    padding:10px;
    width:30%;
    margin-right:5%;
    border: 1px solid #d5d5db;
}
.home-top > div:last-of-type {margin-right:0;}
.home-top > div > p {
    margin-bottom:0;
    text-align:center;
}

.cms-home .std .block-title {
    border:none;
    margin:30px auto 0;

}
.cms-home .std .block-title > span {
    background-image:url("../images/bground.gif");
    position: relative;
    z-index: 1;
    padding:0 20px;
}

.title-line {
    border-top: 4px double #d5d5db;

    height: 5px;
    position: relative;
    top: -15px;}
.block-title {text-align:center;}
.featured .item {float:left; width:22%;margin-right:4%;}
.featured .item img {max-width:100%;}
.featured .item:last-of-type {margin-right:0;}
.featured {text-align:center;}
.featured .red-button {margin-top:20px;}
/** Featured Collections **/
.featured-collections .item .title {margin-top:10px;}


/** Featured Items **/
.featured-items .tabs .toggle-tabs {
    display: block;
    width: 100%;
    position: relative;

}
.featured-items .tabs .toggle-tabs li {
    float: left;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.featured-items .tabs .toggle-tabs li > span {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: inline-block;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;

}

.featured-items .tabs .toggle-tabs li.current > span {

    z-index: 5;
}
.featured-items .tabs .toggle-tabs li.current span,
.featured-items .tabs .toggle-tabs li:hover span {
    color:#633125;
    font-weight:bold;
}
.featured-items .tabs .toggle-tabs li:first-child {
    border-left: none;
}
.featured-items .tabs .toggle-tabs:after {
    content: '';
    display: table;
    clear: both;
}
.featured-items .tabs > dl {
    width: 100%;
}
.featured-items .tabs > dl > dt {
    display: none;
}
.featured-items .tabs > dl > dd {
    width: 100%;
    display: none;
    padding: 15px;
    border: 1px solid #cccccc;
    border-top: 0;
}
.featured-items .tabs > dl > dd.current {
    display: block;
}



.featured-items .tabs {background:none;position:relative;}
.featured-items .tabs li {list-style: none;margin-left:0;}
.featured-items .tabs .toggle-tabs,.featured-items .tabs > dl > dd  {border:none;background:none;}
.featured-items .tabs .toggle-tabs li.current {
    outline: 1px solid #d5d5db;
    border:none;
    background-color:#fff;
}

.featured-items .tabs .toggle-tabs li > span {bottom:0;font-size:14px;}
.featured-items .tabs .tab-content .right {
    position:absolute;
    right:0;
    top:8px;
}

/******* Benefit items ******/
.featured-benefit .item {width:30%; margin-right:5%;display:table}

.featured-benefit .description {text-align:left;display:table-cell;vertical-align:top;padding-left:20px;}
.featured-benefit .img-wrapper {display:table-cell;padding: 20px 30px;
    background-color: #f3f3f3;}

.cms-index-index .featured .products-grid .actions {display:block;}
.wrapper .widget-new-products .products-grid .product-image{margin-left:auto;}

/********* Sign In Page ************/
.customer-account-login .account-login .col2-set .col-1, .customer-account-login .account-login .col2-set .col-2 {
    background-color:#fbfbfb;
    padding:30px;
    border:1px solid #d5d5db;
    width:49%;
    height:400px;
    position:relative;
}
.customer-account-login .account-login .col2-set .col-1 {margin-right:2%;}
.login-bottom {margin-top:30px;}

.customer-account-login .account-login .col2-set .buttons-set {
    position:absolute;
    bottom:30px;
}
.customer-account-login .col2-set .col-1 .benefits {

    padding-left: 40px;
    margin: 20px 0;
    font-size:16px;
}
.customer-account-login .benefits li {margin-bottom:5px;}
.customer-account-login .form-list {margin-top:30px;}
.account-login .registered-users .f-left {
    position: absolute;
    bottom: 30px;
    left: 150px;
    text-decoration: underline;
}

/*** My Account **/
.my-account li {list-style:none;}
.my-account .hello strong {
    font-size:24px;

}
.wrapper .my-account .box-head {
    /*background: #333;*/

}
.wrapper .dashboard .box-head a {text-transform: capitalize;font-size:14px;}

.wrapper .my-account .box-head h2 {/*color:#fff;*/text-transform: capitalize;font-size:24px;}
/*.wrapper .my-account .box-head a {color:#fff;}*/
.wrapper .my-account .box-info .col2-set {padding:0 10px 20px 40px; border: 1px solid #d5d5db;background-color:#fff;}
.my-account .box-info .box-title {
    background:#e8e8eb;
    padding-left:20px;
    padding-right:20px;
    position:relative;
    left:-20px;
    padding-top:10px;
    margin-bottom:20px;
}
.wrapper .my-account .box-info .col2-set .box-title h3 {font-size:16px;display: inline-block;}
.dashboard .box-title a.red-link {float:right;}
.wrapper .my-account .box-info {border:0;}
.my-account .red-button {font-size:16px;line-height:25px;}
.dashboard .box-account .red-link {font-style:initial;}

.orders.data-table thead th,.orders.data-table tbody td {border:1px solid #d5d5db;}
.orders.data-table thead th {text-transform: uppercase;}
.orders.data-table tbody tr {background-color:#fff;}
.orders.data-table tbody tr:nth-child(even) {background-color:#f4f4f4;}
.my-account .title-buttons .buttons {float:right;position:relative;top:20px;}

.my-account dl.order-info dd {float:right;}
.my-account dl.order-info dt {font-size:24px; text-transform: uppercase;font-weight:bold;}
.my-account .order-info {border-bottom:none;}
.my-account #order-info-tabs li {
    border: 1px solid #dbdbd5;
    padding: 10px 20px;
    background:#fff;
    color:#633125;
    cursor:pointer;
    font-weight:bold;
    text-transform: uppercase;
    margin-left:-4px;
}
.my-account #order-info-tabs li a {color:#633125;}
.my-account #order-info-tabs li.current a,.my-account #order-info-tabs li.current{color:#333637;}
.order-details .data-table thead th, .data-table tbody td {
    border:1px solid #d5d5db;
}
.order-details .data-table tbody tr {background-color:#fff;}
.order-details .data-table tbody tr:nth-child(even) {background-color:#f4f4f4;}
.order-details tfoot {background:#fff;border:1px solid #d5d5db;}
.wrapper .data-table tfoot tr {background:#fff;}
.tracking-table.data-table tbody tr.first {background-color:#e8e8eb;}
.tracking-table.data-table tbody tr.even th, .tracking-table.data-table tbody tr.even td{background-color:#fff;border:1px solid #d5d5db;}
.order-details .buttons {
    float: right;
    position: relative;
    top: -30px;
}
.buttons a,.back-link a,.buttons .separator {color:#633125;}
.buttons a:hover, .back-link a:hover{
    color:#333637;
}

    /******* Shopping Cart ************/
.cart .cart-table .btn-empty {float:none;}
.cart .cart-table .btn-continue {float:left;}
.cart .cart-table {float:none;width:100%;margin-top:10px;}
.cart-table thead > tr {background:#333; color:#fff;}
.cart-table thead th:not(:first-of-type) {border-right:1px solid #fff;}
.cart-table tbody td:not(:first-of-type) {border-right: 1px solid #d5d5db;}
.cart-table .product-image {max-width:120px;}
.cart .cart-table .product-cart-image {padding-left:10px;}
.cart-table tbody td.product-cart-remove {display:none;}
.cart .checkout-types.top .btn-checkout {
    margin-top:20px;
}
.cart-table tfoot .red-button {margin-top:0;}
.cart-table tfoot tr {border:none;}

.cart-forms #discount-coupon-form label {display:block; padding:10px; background:#333;color:#fff;margin-right:0;text-transform: capitalize;font-size:16px;}
.cart-forms #discount-coupon-form .discount, .cart .cart-totals{background-color:#fff;padding:0;}
.cart-forms #discount-coupon-form .input-text {margin:10px;}

.cart #shopping-cart-totals-table thead tr th {background:#333;color:#fff;padding:10px;text-transform: capitalize;font-size:16px;}
.cart #shopping-cart-totals-table td {
    padding: 10px 10px 0;
}
.cart #shopping-cart-totals-table tr:last-child td {padding-bottom:10px;}

.cart-totals .checkout-types{padding-right:10px;}

.cart .ordering-info {width:50%;float:left;}
.ordering-info-content-wrapper {padding:20px;border:1px solid #d5d5db;}
.ordering-info li {margin-bottom:10px;}
.ordering-info-subtitle {font-weight:bold; font-size:16px;}
.checkout-help {background:#e8e8eb;text-align:center;padding:10px;}

.breadcrumbs li a {color:#633125;}
/*********** Product Page ***************/
.products-grid .product-name, .products-list .product-name {min-height:40px;}
.in-stock .value {color:#633125;}
.in-stock .value:after {content:"!"; color:#633125;font-size: 16px;
    font-weight: bold;}

.product-essential .link-wishlist.icon-moon {padding:0;border-radius: 50%;
    margin-left: 10px;}
.product-essential .link-wishlist.icon-moon:before,.widget-new-products .link-wishlist.icon-moon:before,.category-products .link-wishlist.icon-moon:before {
    left:0;
}
.product-essential .share {float:left;margin-top:5px;}
.product-view .product-essential .sharing-links {margin-top:5px;}
.product-view .product-shop .short-description {padding-bottom:20px;border-bottom:1px solid #d5d5db;}
.product-view .wishlist-sharing {
    border-top:1px solid #d5d5db;
    clear: both;
    padding: 20px 0;
    margin-top: 10px;}

.product-view .add-to-cart, .product-view .extra-info {float:left;}
.product-view .product-collateral-wrapper {width:50%;float:right;padding-left:15px;}
.catalog-product-view .ordering-info ul li:last-of-type {margin-right:0;}
.catalog-product-view .ordering-info .block-title span{
    background-image: url("../images/bground.gif");
    background-repeat: repeat;
    position: relative;
    z-index: 1;
    padding:0 20px;}

.product-img-box .product-image {
    display: table;
    width: 100%;
}
.catalog-product-view .product-img-box .product-image {
    padding:55px;
}
.product-img-box .product-image .product-image-gallery {
    /* vertical-align: middle;
    isdplay: table-cell;*/
}

.product-view .title-line, .block-viewed .title-line {top:-25px;}
.ordering-info .title-line {top:-20px;}

.wrapper .products-grid > li.item {
    margin-left:0;
    border:1px solid #d5d5db;
}
.wrapper .products-grid > li.item:hover .bg-layer {background-color:black;}
.category-products .products-grid > li.item:hover .product-img-wrapper,.category-products .products-grid > li.item:hover .amlabel-div {opacity:0.5;}

.amquickview-hover {top:88px!important;}
.wrapper .amquickview-hover {
    opacity:1;
    background-color:#fff;
    color:#333637;
}
.wrapper .amquickview-hover:hover {background-color:#333;}
.wrapper .amquickview-hover:hover a {color:#fff;}
.wrapper .amquickview-hover a {color:#333637;}

.products-grid .product-info {background-color:#fff!important;}
/* labels */
.product-img-box {position:relative;}
.product-img-wrapper {background-color:#f3f3f3;}
.product-image .amlabel-table2 {display:none;}
.amlabel-div {position:absolute;top:10px;left:10px;z-index:1;text-align:left!important;}
.products-grid .amlabel-div {top:5px; left:5px;}
.amlabel-div table {display:none}
.amlabel-div table:nth-of-type(1),.amlabel-div table:nth-of-type(2),.amlabel-div table:nth-of-type(3) {display:inline-block;margin:0 5px 0 0!important;width:auto!important;height:auto!important;position:static;}

.amlabel-div table td {background-image:none!important;}

.amlabel-div table td span{padding:10px;background-color:#fff;border:1px solid #d5d5db;display:inline;color:#333637!important;}

/*.products-grid .product-img-wrapper {display:table;min-height:220px;width:100%;}*/

/*.products-grid .product-img-wrapper > .product-image-div {display:table-cell;text-align: center;
    vertical-align: middle;}*/


.wrapper .products-grid .product-img-wrapper .product-image {display:block;margin:auto;width:100%;}

.products-grid .product-img-wrapper {width:100%;padding:30Px;}
.products-grid .product-img-wrapper > .product-image-div {text-align: center;
}
    /* upsell */
.product-view .products-grid .actions,.block-viewed .products-grid .actions {
    position:static;
    margin-top:-5px;
    margin-bottom:2px;
    min-height:0;
}
.link-wishlist.icon-moon:before {
    content: "\e90a";
    color:#fff;
    position: relative;
    top: 6px;
    left:3px;
}
.link-wishlist.icon-moon {width:33px!important;height:33px!important;background:#333;}
.product-view .box-collateral .add-to-links,#recently-viewed-items .add-to-links, .products-grid .add-to-links {
    display:inline-block;
    margin-right:0;
    float:none;
    vertical-align:middle;
    margin-top:0;
}

/*** recently viewed ***/
#recently-viewed-items .link-wishlist {float:none;}
#recently-viewed-items .actions .button {float:none;}
#recently-viewed-items .add-to-links a {padding: 2px 7px 2px 0;}
.no-bottom-p {padding-bottom:0!important;}
.products-grid .actions {background-color:#fff;}

/* mageworx options */
.product-options .ship-date.option dd {display:none;}
.product-options .ship-date.option label {font-style:italic;}
.product-options dd select {
    -webkit-appearance: none;
    border-radius:0;
    padding: 2px 10px;
    background: #fff;
}
.product-view .product-options-bottom {padding-left:0;}
.product-view .product-options {border:none; padding-left:0;}
    /****** catalog *******/

.catalog-category-view .category-title {
    height:125px;
    background-image:url('../images/catalog-bground.gif');
    background-repeat:repeat;
}
.catalog-category-view .category-title h1 {
    color:#fff;
    border-bottom:none;
    line-height: 125px;
    padding-left: 30px;
    font-weight:300;
}

.toolbar select {
    -webkit-appearance: none;
    border-radius:0;
    padding: 2px 10px;
    background: #fff;
}
.wrapper .toolbar {background:none;border:none;padding-left:0;}
.sort-by, .limiter {position:relative;}
.sort-by.arrow-down:after,.limiter.arrow-down:after {
    border-color:#333 transparent transparent;
    position: absolute;
    right: 40px;
    top: 13px;
}
.limiter.arrow-down:after {right:5px;}
.limiter select {padding-right:30px;}
.toolbar .limiter {float:left;}
.toolbar .pages li {
    background:#fff;
    border:1px solid #d5d5db;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    color:#333637;
}
.toolbar .pages li:not(.current):hover {background:#333;}
.toolbar .pages li:not(.current):hover a {color:#fff;}
.toolbar .pages a {color:#333637;}
.toolbar .pages .current {color:#fff;background:#333;}
.toolbar-bottom .sort-by, .toolbar-bottom .limiter {display:none;}


    /********* Footer **********/


.footer .block-title {text-align:left;}
.footer .links .block-title strong {font-size:16px;}

.footer .links .block-title + strong {font-size:14px; margin-bottom:10px;display:block;}
.footer-container .footer .links {width:25%;margin:0;}

.footer-container .footer .block-subscribe {
    float:none;
    margin:0;
    position:absolute;
    bottom:-40px;
    width:auto;
}
.footer-container .footer .block-subscribe .block-title {
    display:inline-block;
    margin:5px 5px 0 0;
}
.footer .block-subscribe .block-title strong {color:#fff;text-transform: none;}
.footer-container .footer .block-subscribe form {display:inline-block;position: relative;
    top: 13px;}

.footer-container .footer .block-subscribe .button {
    background-color:#633125;
}
.footer-container .footer .block-subscribe .button:hover {
    background-color:#333;
}

.wrapper .footer-container {
    max-width:100%;
    padding:0;
    background-image:url("../images/footer_bground.gif");
    background-repeat: repeat;


}
.footer-above {
    height:3px;
    background-image:url("../images/footer_top_bground.gif");
    background-repeat: repeat;
    box-shadow: 1px -1px 5px #888;
}

.footer-container .footer {
    max-width: 1260px;
    margin: 0 auto;
    padding:30px;
    border: none;
}
.footer-bottom {clear:both;padding:10px 0;background-image:url("../images/nav_bground.gif");background-repeat: repeat;background-size:auto 100%;color:#fff;min-height:50px;}
.footer-bottom-right {
    max-width:1260px;

    padding:0 30px;
    margin:auto;
    text-align:right;
}
.footer-bottom-right .social-logo {
    width: 40px;
    height: 40px;
    background: #633125;
    display: inline-block;
}
.footer-bottom-right span {position:relative;top:10px;right: 10px;}

.footer .links a:hover {color:#781c0f;}

/****** Media Query ******/
@media only screen and (min-width: 771px) {
    .nav-wishlist-cart-wrapper .nav-primary {

        margin: 0;
    }
    .nav-wishlist-cart-wrapper {padding:5px 0;}
    .nav-wishlist-cart {max-width:1200px;margin:0 auto;}


}

@media only screen and (min-width: 950px) {
    #header #header-account {float:right;padding-top:2px;}
    header .need-help {float:left;padding-top:5px;}
    #header #header-account {
        padding: 5px 0;
    }

}

@media only screen and (max-width:959px) {

    #header #header-nav-hide {
        display:none;

    }

    #header-search.skip-content,#header #header-search-hide, #header-nav.skip-content {display:none;}
    #header-search.skip-content.skip-active,#header-nav.skip-content.skip-active {display:block;}
    #header .skip-search, #header .skip-nav {display:block;}

    #header #header-nav.skip-active {display:block;}

    .customer-account-login .account-login .col2-set .col-1, .customer-account-login .account-login .col2-set .col-2{
        height:510px;
    }
}

@media only screen and (max-width:884px) {
    .featured-items .tabs .tab-content .right{
        position:static;
        margin-bottom:20px;
    }
}

@media only screen and (max-width:820px) {
    .footer-container .footer .block-subscribe .block-title, .footer-bottom-right span {display:none;}
    .footer-container .footer .block-subscribe form {top:10px;}
}

@media only screen and (max-width:768px) {
    .wrapper .col-4 {
        width:45%;margin-right:10%;margin-bottom:20px;
    }
    .wrapper .col-3 {
        width:100%;
        margin-right:0;
        margin-bottom:20px;
    }

    .featured-collections .col-4:nth-of-type(2n) {margin-right:0;}

    .customer-account-login .account-login .col2-set .col-1, .customer-account-login .account-login .col2-set .col-2{
        float:none;
        width:100%;
        margin-right:0;
        margin-bottom:20px;
        height:auto;
    }
    .customer-account-login .account-login .col2-set .buttons-set {position:static;}
    .customer-account-login .account-login .registered-users {overflow:auto;}
    .customer-account-login .account-login .registered-users .buttons-set {
        float:left;
    }
}

@media only screen and (max-width:730px) {
    .footer-container .footer .links {
        width: 50%;
        margin-right:0!important;
        margin-bottom: 20px;
    }
    .footer-container .footer > div:nth-of-type(3) {clear:left;}
}
@media only screen and (max-width:619px) {
    .footer-container .footer .block-subscribe .block-title, .footer-bottom-right span {display:initial;}
    .footer-container .footer .block-subscribe {position:static;}
    .footer .block-subscribe .block-title strong {color:#333637;}
    .footer-bottom-right {text-align:center;}
}

@media only screen and (max-width:545px) {
    #header .welcome-msg {border-right:none;}
}

@media only screen and (max-width: 499px){
    #header .skip-cart .count {
        margin-left: 0;
    }
    #header .skip-links.search {
        left: 70px;
    }
}
@media only screen and (max-width: 466px){
   #header-login{
       left:-60px;
       top:31px;

   }
    #header-login .arrow-up:before {
        right:20px;
    }
}

/******** clearfix ********/
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}