.wrapper a:hover,
 .wrapper a:active,
 .wrapper a:focus {
     color: #8D4C72;
 }
.wrapper .red-text {
    color: #8D4C72 !important;
}
.wrapper .red-link,
.wrapper .white-button:hover span {
    color: #8D4C72 !important;
}
.wrapper .red-button,
.wrapper .white-button:hover,
.wrapper #search_mini_form .search-button.button:hover,
div.wrapper .button.button-secondary:hover,
div.wrapper .b2b-wrapper .b2b-sub-header .b2b-to-store:hover, body.b2b-dashboard-index .b2b-wrapper .b2b-dashboard-container .download-center a:hover {
    border-color: #8D4C72;
    color: #8D4C72;
}

div.wrapper .b2b-wrapper .b2b-dashboard-container .download-center .b2b-iwd-brand-download a:hover {
    color: #8D4C72 !important;
}
div.wrapper .btn-large-gray:hover {
    border-color: #8D4C72 !important;
    color: #8D4C72;
}

.wrapper .account-login .red-button {
    background: #8D4C72;
}
.wrapper .account-login .red-button:hover {
    border-color: #A26E8D;
    background: #A26E8D;
}
.wrapper .button.full-red-button,
.wrapper .minicart-actions .checkout-button,
div.wrapper .b2b-sticky-footer .btn-checkout,
body.b2b-dashboard-index .b2b-wrapper .b2b-dashboard-container .b2b-steps .item a,
div.wrapper .b2b-wrapper .b2b-cart-total .btn-checkout {
    background-color: #8D4C72;
}
div.wrapper .button.button-secondary:hover span {
    color: #8D4C72;
}
.wrapper .button.full-red-button:hover, .button.full-red-button:active,.wrapper .button.full-red-button:focus,
.wrapper .minicart-actions .checkout-button:hover,
div.wrapper .b2b-sticky-footer .btn-checkout:hover,
body.b2b-dashboard-index .b2b-wrapper .b2b-dashboard-container .b2b-steps .item a:hover,
div.wrapper .b2b-wrapper .b2b-cart-total .btn-checkout:hover {
    background-color: #A26E8D;
}
.wrapper .buttons a:hover, .wrapper .back-link a:hover {
    color: #8D4C72;
}
.catalog-product-view .wrapper .ordering-info-content a {
    color: #8D4C72;
}
.wrapper .cart-empty a,
.wrapper .discount-percent,
.wrapper .product-cart-actions .btn-update,
div.wrapper .b2b-wrapper .b2b-sub-header .b2b-logout {
    color: #8D4C72;
}

.wrapper .product-essential .add-to-links > li:hover {
    border-color: #8D4C72;
}
div.wrapper .split-button .list-container li span:hover, div.wrapper .split-button .list-container li a:hover {
    color: #8D4C72;
}

.wrapper .product-view .add-to-links li:hover .change:before,
.wrapper .product-essential .add-to-links li:hover .change,
.wrapper .split-button.wishlist-selector .list-container li span:hover,
.wrapper .split-button.wishlist-selector .list-container li a:hover,
.wrapper .product-cart-info .wishlist-selector:hover,
.wrapper .product-cart-info .wishlist-selector:hover .change:before,
.wrapper .product-cart-info .wishlist-selector:hover .change {
    color: #8D4C72;
}

.wrapper .header-top {
    background-color: #f6f3ed;
}
.wrapper .header-top p {
    color: #5F6466;
    text-transform: capitalize;
}
.header-top .all-upper {
    font-weight: bold;
}
.wrapper .page .top-container {
    background: none;
}
.cms-home .wrapper .std .block-title > span {
    background-color: #f6f3ed;
    background-image: none;
}

.cms-customer-service .wrapper table b a {
    color: #8D4C72;
}

.cms-home .featured-collections .sale-inner {
    border: 1px solid #ADA6AE;
}
.cms-home .collection.sale {
    background-color: #8D4C72;
}
.page .nav-top-wrapper {
    background-color:  #8D4C72;
}
.page .wholesale .nav-top-wrapper {
    background-color:  #7ca09b;
}
.footer-container .footer-above {
    background-color: #7ca09b;
}
.cms-home .collection-text {
    background: #333;
}
.cms-home .collection-text a {
    color: #fff;
}
.cms-home .featured-collections .red-text,
.cms-home .featured-collections .red-text:after {
    color: #EFBED4 !important;
}

.wrapper .ms-topmenu .ms-submenu .ms-content a:hover,
.wrapper .breadcrumbs li a,
.wrapper .block-account li strong,
.wrapper .block-cms-menu li strong,
.wrapper .block-account li a:hover,
.wrapper .block-cms-menu li a:hover,
.wrapper .footer .links a:hover {
    color: #8D4C72;
}
.wrapper .stock-status-product-page,
.wrapper .product-collateral .toggle-tabs li span {
    color: #8D4C72;
}

.wrapper .page, .wrapper #header,
.wrapper .with-line span,
.catalog-product-view .wrapper .ordering-info .block-title span {
    background-image: none;
    background: #f6f3ed;
}
.wrapper .logo {
    max-width: 185px;
}
.header-middle-wrapper {
    background-image: url('../images/header-bground.jpg');
    background-repeat: repeat-x;
}

.wrapper .nav-wishlist-cart .wishlist-cart-wrapper > .checkout-button {
    color: #8D4C72;
    height: 49px;
    top: -9px;
    padding-top: 14px;
}
.wrapper .wholesale .nav-wishlist-cart .wishlist-cart-wrapper > .checkout-button {
    color: #7ca09b;
}
.wrapper .nav-wishlist-cart .wishlist-cart-wrapper > .checkout-button:hover,
.wrapper .nav-wishlist-cart .wishlist-cart-wrapper > .checkout-button:active,
.wrapper .nav-wishlist-cart .wishlist-cart-wrapper > .checkout-button:focus {
    background: none;
}
.wrapper .wishlist-cart-wrapper > .checkout-button:after {
    color: #8D4C72;
}
.wrapper .wholesale .wishlist-cart-wrapper > .checkout-button:after {
    color: #7ca09b;
}
.wrapper .nav-wishlist-cart-wrapper {
    border-color:  #8D4C72;
}
.wrapper .top-container .home-top > div:nth-of-type(1) {
    background-color:  #7ca09b;
}
.wrapper .top-container .home-top > div:nth-of-type(3) {
    background-color: #8D4C72;
}
.wrapper .top-container .widget-banner > ul > li:last-of-type {
    background-color: #8D4C72;
}
.wrapper .top-container .widget-banner > ul > li:first-of-type {
    background-color: #7ca09b;
}

.wrapper .my-account #order-info-tabs li a {
    color: #8D4C72;
}

.wrapper .catalog-banner {
    background: #7ca09b;
}
/* footer */
.wrapper div.footer-container {
    background-image: url("../images/Footer-BgroundTTALK.gif");
}
div.footer .links a,
.footer .block-title strong,
.footer a, .footer span {
    color: #fff;
}
.wrapper .footer-top .help strong,
.wrapper .copyright a {
    color: #fff;
}
.wrapper .products-grid .button.login {
    color: #8D4C72;
}
.wrapper .my-account .addresses-list a {
    color: #8D4C72;
}
.wrapper .products-grid .split-button.wishlist-selector .change.added {
    background: #8D4C72;
}
.wrapper .product-view .product-collateral a {
    color: #8D4C72;
}
div.wrapper .wishlist_ajax_element:before {
    color: #8D4C72 !important;
}
.cms-page-view .wrapper .std a {
    color: #8D4C72 !important;
}
.cms-page-view .wrapper .std a span {
    color: #8D4C72 !important;
}
.wrapper .case-discount-price {
    color: #8D4C72;
}
div.cms-tabs .toggle-tabs li > span {
    color: #8D4C72;
}
.customer-account-create div.page-title + div a {
    color: #8D4C72;
}
.wrapper .MainLink,
.wrapper .prod_status {
    color:#8D4C72;
}
.wrapper .ordering-info a {
    color: #8D4C72;
}
.wrapper input[name='requestcatalog'] {
    background-color: #8D4C72;

}
.wrapper input[name='requestcatalog']:hover {
    background-color: #A26E8D;
}
.wrapper #filter-results-container .actions {
    background-color: #8D4C72;
}
div.wrapper div.block-layered-nav dd a.amshopby-attr-selected {

    background-image: url(../images/amshopby-cb2.png);
    color: #8D4C72;
}
.wrapper .arrow-right:after {

     border-color: transparent transparent transparent #8D4C72;
 }
div.featured-collections a.shop-now {
    color: #8D4C72;
}
.cms-track-packages div.sidebar li.current a {
    color: #8D4C72;
}
.showinvoice-history-index div.sidebar .block-content ul > li:nth-of-type(6) a {
    color: #8D4C72;
}
.avability-cart-test > span {
    color: #8D4C72!important;
}
.wrapper .button-small:hover {
    color: #8D4C72;
    border-color: #8D4C72;
}
.wrapper .opc .step a {
    color: #8D4C72;
}
.wrapper .my-account .buttons-set .button[title*="Save"] {
    background: #8D4C72;
}
.wrapper .my-account .buttons-set .button[title*="Save"]:hover {
    background: #A26E8D;
}
.wrapper .my-account ~ .buttons-set .button[title*="Save"] {
    background: #8D4C72;
}
.wrapper .my-account ~ .buttons-set .button[title*="Save"]:hover {
    background: #A26E8D;
}
.wrapper .pages .next:hover:before {
    border-left: 4px solid #8D4C72;
}
.wrapper .pager .pages li:not(.current):hover {
    color: #8D4C72;
    border-color: #8D4C72;
}
.wrapper .pager .pages li:not(.current):hover a {
    color: #8D4C72;
}
.wrapper #search_mini_form .search-button.button:hover .icon-moon:before {
    color: #8D4C72;
}
.wrapper .data-table .number > a {
    color: #8D4C72;
}
.wrapper .after-tax-id a {
    color: #8D4C72;
}